# Text backup files
*.bak

# Database
*.sqlite3

*.pyc

*.csv

*.DS_Store
static/images/csv/cimri1111_0yRvGUh.csv
.gitignore
static/images/csv/cimri1111_96U011K.csv
.gitignore
.gitignore
static/images/csv/cimri1111_krTwa1z.csv
.gitignore
static/images/csv/cimri1111_JRNx5Yq.csv
.gitignore
.gitignore
