asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-bulma
django-core
django-crispy-forms
django-filter
django-views
django-widget-tweaks
gunicorn
idna
lxml
numpy
oauthlib
pandas
Pillow
psycopg2-binary
pycparser
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
urllib3
whitenoise
