<!-- This can be used for DASHBOARD !! ORDERS  -->
{% block css %}
<style>
    #total-products {
        background-color: #7386D5;
    }

    #products-delivered {
        background-color: #7386D5;
    }

    #products-reserved {
        background-color: #7386D5;
    }

    .num-card-title {
        font-size: 12px;
    }
</style>
{% endblock %}

<div class="row" style="margin-right: 100px; margin-left: 100px;">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="width: 16rem; margin-left: 100px;" id="total-products">
                <div class="card-header">
                    <p class="num-card-title">Total Products</p>
                </div>
                <div class="card-body">
                    <h3 class="num-card-title">{{ num_products }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="width: 16rem; margin-left: 45px;" id="products-delivered">
                <div class="card-header">
                    <p class="num-card-title">Products Available</p>
                </div>
                <div class="card-body">
                    <h3 class="num-card-title">{{ num_instances_available }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" style="width: 16rem; margin-right: 100px" id="products-reserved">
                <div class="card-header">
                    <p class="num-card-title">Products Reserved</p>
                </div>
                <div class="card-body">
                    <h3 class="num-card-title">{{ num_instances_reserved }}</h3>
                </div>
            </div>
        </div>
    </div>

</div>