{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Support Page {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">

<div class="wrapper">
    <div class="card card-body">
        <div class="col-md">
            <div class="row">
                <div class="col-sm-3">
                    <a href="{% url 'all_toys' %}" class="btn btn-light" style="margin-left: 0cm;">Back</a>
                </div>
                <div class="col">
                    <div class="card card-body align-items-center" style="width: 150rem;">
                        <h2><b>Contact Us</b></h2>
                        <form method="POST" action="">
                            {% csrf_token %}

                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <div>
                                <br>
                            </div>

                            <div class="form-group">
                                <button type="submit" value="submit" class="btn btn-light"
                                    style="background: #6d7fcc !important;">
                                    <span class="glyphicon glyphicon-ok"></span> Submit
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}