{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'all_toys' %}" class="btn btn-light">Back</a>
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static  requested_toy.image.url %}" style="margin-left: 30%;"> 
                </div>

                <div class="col-md-12">
                    <h4><strong>Name:</strong> {{ requested_toy.name }}</h4>

                    <p><strong>Brand:</strong> {{ requested_toy.brand }}</p> <!-- author detail link not yet defined -->
                    <p><strong>Age:</strong> {{ requested_toy.age }}</p>
                    <p><strong>Image:</strong> {{ requested_toy.image }}</p>
                    <p><strong>Category:</strong> {{ requested_toy.display_category }}</p>
                    <p><strong>Description:</strong> {{ requested_toy.description }}</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-16">
                    <div style="margin: 10px;">
                        <div class="form-group">
                            <h4><strong>Create a Request for {{ requested_toy.name }}</strong></h4>
                            <br>

                            <form action="" method="POST">
                                {% csrf_token %}
                            
                                {% for field in form.visible_fields %}
                                    <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field|add_class:'form-control' }}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                {% endfor %}

                                <!-- <br>
                                <h2>Choose the Toy you want to trade</h2>
                                <div class="form-group">
                                    <label for="sended_toy">Sender Toy</label>
                                    <select id='toy_select' name="sended_toy" class="form-control">x
                                    <script type='text/javascript'>
                                    // var values=[[1,'tree'],[2,'flower'],[3,'car']];
                                    for(v in sender_toy){
                                        var option=$('<option></option>');
                                        option.attr('value',values[v][0]);
                                        option.text(values[v][1]);
                                        $('#sended_toy').append(option);
                                    }
                                    </script>
                                    </select>
                                </div> -->

                                <br>
                                <h2>Choose the Toy you want to trade</h2>
                                <div class="form-group">
                                    <label for="sended_toy">Sender Toy</label>
                                    <select id="toy_select" name="sended_toy" class="form-control">
                                        <option value="0">
                                            <p>fnd</p>
                                        </option>
                                        <option value="0">
                                            <p>fnd</p>
                                        </option>
                                        {% for sender_toy in product_object %}
                                        <option value="{{ sender_toy.id }}">
                                            {{ sender_toy.id }}
                                        </option>
                                        {% endfor %}
                                      </select>
                                </div>                           

                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-light" style="background: #6d7fcc !important;">
                                    <span class="glyphicon glyphicon-ok"></span> Save
                                    </button>
                                    <button href="{% url 'detail' requested_toy.id %}" class="btn btn-light" >Cancel</button>
                                </div>
                            </form>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}