{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Add Comment {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
                            
            <div class="form-group">
                <button type="submit" class="btn btn-light" style="background: #6d7fcc !important;">
                <span class="glyphicon glyphicon-ok"></span> Save
                </button>
                <button href="{% url 'detail' product_object.id %}" class="btn btn-light" >Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}