{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}">

<div class="wrapper">
    <div class="card card-body">
        <div class="col-md">
            <div class="row">
                <div class="col">

                    <h6>
                        Forgotten your password? 
                    </h6>
                    <p style="font-size: 12pt;">Enter your email below, and we'll email instructions for setting a new one. </p>

                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field|add_class:'form-control' }}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-light" style="background: #6d7fcc !important; color:whitesmoke;">
                                    <span class="glyphicon glyphicon-ok"></span> Send email
                                    </button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}