{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="wrapper">
    <div class="card card-body">
        <div class="col">
            <div class="row">
                <h4>My Requests</h4>
                <br>
                <h5 style="margin-top: 12pt;"><strong style="color: #536bf6d6;">Incoming Requests</strong></h5>
                <br>
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>My Requested Toy</th>
                            <th> </th>
                            <th>Sended Toy</th>
                            <th> </th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th> </th>
                        </tr>

                        {% for users in user_incoming_requests %}
                        {% if users.is_accepted == False and users.is_ignored == False %}
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static  users.requested_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">My Requested Toy Name:</strong>
                                <a href="{% url 'detail' users.requested_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.requested_toy.name }}</a>
                            </td>
                            <td>
                                <img class="card-img-top" src="{% static  users.sender_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">Sended Toy Name:</strong>
                                <a href="{% url 'detail' users.sender_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.sender_toy.name }}</a>

                                <p></p>

                                <strong style="font-size: 10pt;">Sended Toy's Owner:</strong> {{ users.sender }}
                            </td>
                            </td>
                            <td>{{ users.start_date }}</td>
                            <td>{{ users.end_date }}</td>

                            {% if users.is_accepted == False %}
                            <td><a href="{% url 'accept_request' users.id %}" class="btn btn-light"
                                    style="background-color: #79c400e3; color: whitesmoke;">Accept</a></td>
                            <td><a href="{% url 'ignore_request' users.id %}" class="btn btn-light"
                                    style="background-color: #79c400e3; color: whitesmoke;">Ignore</a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <h5><strong style="color: #536bf6d6;">Accepted Requests</strong></h5>
                <br>
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>Requested Toy</th>
                            <th> </th>
                            <th>Traded Toy</th>
                            <th> </th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>

                        {% for users in user_accepted_requests %}
                        {% if users.is_ignored == False %}
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static  users.requested_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">Requested Toy Name:</strong>
                                <a href="{% url 'detail' users.requested_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.requested_toy.name }}</a>

                                <p> </p>

                                <strong style="font-size: 10pt;">Requested Toy's Owner:</strong> 
                                {{ users.requested_toy.owner }}
                            </td>
                            <td>
                                <img class="card-img-top" src="{% static  users.sender_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">Traded Toy Name:</strong>
                                <a href="{% url 'detail' users.sender_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.sender_toy.name }}</a>
                            </td>
                            <td>{{ users.start_date }}</td>
                            <td>{{ users.end_date }}</td>
                            {% if users.is_accepted %}
                            <td>Accepted</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <h5><strong style="color: #536bf6d6;">My Requests</strong></h5>
                <br>
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>Requested Toy</th>
                            <th> </th>
                            <th>Traded Toy</th>
                            <th> </th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>

                        {% for users in user_requests %}
                        <tr>
                            <td>
                                <img class="card-img-top" src="{% static  users.requested_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">Requested Toy Name:</strong>
                                <a href="{% url 'detail' users.requested_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.requested_toy.name }}</a>

                                <p> </p>

                                <strong style="font-size: 10pt;">Requested Toy's Owner:</strong> 
                                {{ users.requested_toy.owner }}
                            </td>
                            </td>
                            <td>
                                <img class="card-img-top" src="{% static  users.sender_toy.image.url %}"
                                    style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                            </td>
                            <td>
                                <strong style="font-size: 10pt;">Traded Toy Name:</strong>
                                <a href="{% url 'detail' users.sender_toy.id %}" style="color: rgb(32, 110, 235);">
                                    {{ users.sender_toy.name }}</a>
                            </td>
                            <td>{{ users.start_date }}</td>
                            <td>{{ users.end_date }}</td>
                            {% if users.is_ignored == False %}
                            <td><a href="{% url 'update_request' users.id %}" class="btn btn-light"
                                    style="background-color: #79c400e3; color: whitesmoke;">Update</a></td>
                            <td><a href="{% url 'delete_request' users.id %}" class="btn btn-light"
                                    style="background-color: #79c400e3; color: whitesmoke;">Delete</a></td>
                            {% elif users.is_ignored %}
                            <td>The request is not accepted.</td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}