<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'all_toys' %}" class="btn btn-light">Back</a>

            <div>
                <div>
                    <img src="{% static  product_object.image.url %}" style="margin-left: 20%;">
                </div>
                <div>
                    <p class="abc">
                        <strong>Name:</strong> {{ product_object.name }}
                        <br>
                        <strong>Brand:</strong> {{ product_object.brand }}
                        <br>
                        <strong>Age:</strong> {{ product_object.age }}
                        <br>
                        <strong>Image:</strong> {{ product_object.image }}
                        <br>
                        <strong>Category:</strong> {{ product_object.display_category }}
                        <br>
                        <strong>Description:</strong> {{ product_object.description }}
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-6">
            <div class="row">
                <div>
                    Add Comments ({{ num_comments }})
                        <br>
                        <hr>               
                        {% if not product_object.comments.all  %}
                            <div class="card-body">
                                <p>Not comments added yet...</p>
                            </div>
                        {% else %}
                            {% for comment in product_object.comments.all %}


                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="card card-white post">
                                            <div class="post-heading">
                                                {% if request.user.person.profile_pic.url %}
                                                <div class="row">
                                                    <div class="col float-left image">
                                                        <img src="{% static comment.commenter.person.profile_pic.url %}" alt="Placeholder image">
                                                    </div>
                                                    <div class="col">
                                                        <h6 class="mb-2 text-muted">{{ comment.commenter.username }}</h6>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="row">
                                                    <div class="float-left image">
                                                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                                    </div>
                                                </div>  
                                                {% endif %}
                                                <div class="float-left meta">
                                                    <div class="title h5" style="font-size: 14px;">
                                                        <a href="#"><b>{{ comment.commenter.username }}</b></a>
                                                        <p class="text-muted time" style="font-size: small;">{{ comment.date_added }}</p>
                                                    </div>
                                                   
                                                </div>
                                            </div> 
                                            <div class="post-description"> 
                                                <p>{{ comment.comment_body }}</p>
                                                {% if request.user.username == comment.commenter.username %}
                                                <a class="btn btn-light" href="{% url 'delete_comment' product_object.id %}">Delete Comment</a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>




                            <div class="col-md-16">
                                <div class="card">
                                  <div class="card-body">
                                    <p class="card-title">
                                        {% if request.user.person.profile_pic %}
                                            <div class="row">
                                                <div class="col">
                                                    <img src="{% static request.user.person.profile_pic.url %}" alt="Placeholder image">
                                                </div>
                                                <div class="col">
                                                    <h6 class="mb-2 text-muted">{{ comment.commenter.username }}</h6>
                                                </div>
                                            </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col">  
                                                <h6 class="mb-2 text-muted">{{ comment.commenter.username }}</h6>
                                            </div>
                                        </div>                                  
                                        {% endif %} 
                                    </p>
                                    <p class="card-text">
                                        <div class="row">
                                            <div class="col">
                                                <p>{{ comment.comment_body }}</p>
                                            </div>
                                            <div class="col">
                                                <p style="font-size: smaller;">{{ comment.date_added }}</p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            {% if request.user.username == comment.commenter.username %}
                                                <a class="btn btn-light" href="{% url 'delete_comment' product_object.id %}">Delete Comment</a>
                                            {% endif %}
                                        </div>
                                        
                                    </p>
                                    
                                  </div>
                                </div>
                            </div>


                            <div class="card" style="width: 24rem;">
                                <p class="card-title">
                                    {% if request.user.person.profile_pic %}
                                        <img src="{% static request.user.person.profile_pic.url %}" alt="Placeholder image">
                                    {% else %}
                                        <img src="{% static 'images/toybox.jpeg' %}" alt="Placeholder image">                                      
                                    {% endif %} 
                                </p>
                                <h6 class="card-subtitle mb-2 text-muted">{{ comment.commenter.username }}</h6>
                                <div class="card-body">
                                    <p>
                                        {{ comment.comment_body }}
                                        <br>    
                                        {% if request.user.username == comment.commenter.username %}
                                            <a class="btn btn-light" href="{% url 'delete_comment' product_object.id %}">Delete Comment</a>
                                        {% endif %}
                                    </p>
                                    <p><small>{{ comment.date_added }}</small></p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% if request.user.is_authenticated or request.user.is_staff%}
                            <p><a class="btn btn-dark" href="{% url 'add_comment' product_object.id %}">Add Comment</a></p>
                        {% endif %}
                </div>
            </div>
        </div> -->

        <div class="col-sm">
            <div style="margin: 10px;">
                <div class="form-group">
                    <h6><strong>Create a Request for {{ product_object.name }}</strong></h6>

                    <h2>Choose the Toy you <b>want to trade</b></h2>

                    <ul class="list-unstyled components">
                        <form action="" method="POST">
                            {% csrf_token %}

                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <!-- <br>
                            <h2>Choose the Toy you want to trade</h2>
                            <div class="form-group">
                                <label for="sended_toy">Sender Toy</label>
                                <select id='toy_select' name="sended_toy" class="form-control">x
                                <script type='text/javascript'>
                                // var values=[[1,'tree'],[2,'flower'],[3,'car']];
                                for(v in sender_toy){
                                    var option=$('<option></option>');
                                    option.attr('value',values[v][0]);
                                    option.text(values[v][1]);
                                    $('#sended_toy').append(option);
                                }
                                </script>
                                </select>
                            </div> -->

                            <!-- <div class="form-group">
                                <label for="sender_toy">Your Toy to Trade</label>
                                <select id="sender_toy" name="sender_toy" class="form-control">
                                    <option value="0">
                                        -- SELECT --
                                    </option>
                                    {% for send_toy in sender_toy %}
                                    <option value="{{ send_toy.id }}">
                                        {{ send_toy.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div> -->

                            <!-- <div class="form-group">
                                <input class="form-check-input" type="checkbox" value="" id="{{ product_object.id }}}">
                                <label class="form-check-label" for="defaultCheck1">
                                {{ product_object.name }}
                                </label>
                            </div>-->

                            <!-- {% for i in sender_toy %}
                                <div class="form-group">
                                    <input class="form-check-input" type="checkbox" value="" id="{{ i.id }}}">
                                    <label class="form-check-label" for="defaultCheck1">
                                    {{ i.name }}
                                    </label>
                                </div>
                            {% endfor %}  -->


                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModalCenter">
                                Launch demo modal
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">My Toys</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light"
                                    style="background: #536bf6 !important; color: whitesmoke;">
                                    <span class="glyphicon glyphicon-ok"></span> Request
                                </button>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="col-sm">
                <div>
                    <div style="margin: 10px;">
                        Add Comments ({{ num_comments }})
                        <br>
                        <hr>
                        {% if not product_object.comments.all %}
                        <div class="card-body">
                            <p>Not comments added yet...</p>
                        </div>
                        {% else %}
                        {% for comment in product_object.comments.all %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="image is-32x32">
                                        {% if request.user.person.profile_pic %}
                                        <img src="{% static request.user.person.profile_pic.url %}"
                                            alt="Placeholder image">
                                        {% else %}
                                        <img src="{% static 'images/toybox.jpeg' %}" alt="Placeholder image">
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <h5><strong>{{ comment.commenter.username }}</strong> </h5>
                                </div>
                                <p>
                                    {{ comment.comment_body }}
                                    <br>
                                    {% if request.user.username == comment.commenter.username %}
                                    <a class="btn btn-light" href="{% url 'delete_comment' product_object.id %}">Delete
                                        Comment</a>
                                    {% endif %}
                                </p>
                                <p><small>{{ comment.date_added }}</small></p>
                            </div>

                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if request.user.is_authenticated or request.user.is_staff%}
                        <p><a class="btn btn-light" href="{% url 'add_comment' product_object.id %}"
                                style="background-color: #536bf6; color: whitesmoke;">Add Comment</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->