{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>All Toys</title>


<style>
  img {
    width: 128px;
    height: 128px;
  }

  .my-box {
    margin: 0px;
    width: auto;
  }

  .wrapper {
    margin: 0px;
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
  }
</style>

<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Categories</h3>
    </div>
    <ul class="list-unstyled components">
      {% for category in categories %}
      <li>
        <a href="{% url 'category' category.id %}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div id="content">
    <h5>Available Toys </h5>
    <div class="wrapper">
      <div class="my-box">
        <div class="row cols-md-4">
          {% for product in product_objects %}
          <div class="col mb-4">
            <div class="card" style="float: left; margin-left: 0;
                width: 16rem;">
              <img class="card-img-top" src="{% static  product.image.url %}"
                style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.brand }}</p>
                <p class="card-text">{{ product.display_category }}</p>
                <a href="{% url 'detail' product.id %}" class="btn btn-light">View</a>
                {% if product.owner == request.user %}
                <a style="color:#7386D5;">My Toy</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        {% include 'paginator.html' %}
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/
        GpGFF93hXpG5Kkn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8j0t6vLEHfe/
        JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVcmY1" crossorigin="anonymous"></script>

{% endblock %}