{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/4.0.0/css/bootstrap.min.css" integrity="
        sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJ1SAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="theme-color" content="#7952b3">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'carousel.js' %}">
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/search-bar.css' %}">

  <style>
    img {
      width: 128px;
      height: 128px;
    }
  </style>

  <title>All Toys</title>
</head>

<body>
  <header>
    {% include 'navbar.html' %}
  </header>

  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Categories</h3>
      </div>
      <ul class="list-unstyled components">
        {% for category in categories %}
        <li>
          <a href="{% url 'category' category.id %}">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div id="content">
      <h5>Available Toys </h5>
      <div class="container-fluid">
        <div>
          <h1 class="center">{% block title %}{% endblock %}</h1>
          <div class="card p-5">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                {% for product in toys %}
                <div class="col mb-4">
                  <div class="card h-100" style="width: 32rem;">
                    <img class="card-img-top" src="{% static  product.image.url %}"
                      style="width:100px; height:100px; margin-left: auto; margin-right: auto;">
                    <div class="card-body">
                      <p class="card-title"><strong>{{ product.name }}</strong></p>
                      <p class="card-text">{{ product.brand }}</p>
                      <p class="card-text">{{ product.display_category }}</p>
                      <a href="{% url 'detail' product.id %}" class="btn btn-light">View</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

              <div class="container-fluid my-5">
                <h5 class="center fw-bold"> Toy Prices </h5>
                <div class="row">
                  <div class="col-8 me-auto">
                    <div class="owl-carousel owl-theme">
                      <div class="item mb-4">
                        <div class="card border-0 shadow">
                          <img src="{% static 'images/toybox.jpeg' %}" alt="" class="card-img-top">
                          <div class="card-body">
                            <div class="card-title text-center">
                              <h6>Toy</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
              <!-- Option 1: Bootstrap Bundle with Popper -->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
                crossorigin="anonymous"></script>
              <script>
                $('.owl-carousel').owlCarousel({
                  loop: true,
                  margin: 12,
                  nav: true,
                  responsive: {
                    0: {
                      items: 1
                    },
                    600: {
                      items: 2
                    },
                    1000: {
                      items: 3
                    }
                  }
                })
              </script>
  
              <!-- SLIDER END -->

              <div class="row">
                <div class="col-md-3 offset-md-4">
                  <ul class="pagination">
                    {% if product_objects.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                      <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-muted py-5">
    {% include 'footer.html' %}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/
        GpGFF93hXpG5Kkn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8j0t6vLEHfe/
        JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVcmY1" crossorigin="anonymous"></script>

</body>

</html>