<div class="row">
    <div class="col-md-3 offset-md-4">
        <ul class="pagination">
            {% if product_objects.has_previous %}
            <li class="page-item">
                <a class="btn btn-light" style="background-color: #7386D5; width: 12rem; color: whitesmoke;"
                    href="?page={{ product_objects.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            {% if product_objects.has_next %}
            <li class="page-item">
                <a class="btn btn-light" style="background-color: #7386D5; width: 12rem; color: whitesmoke;"
                    href="?page={{ product_objects.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>